@import "./components/modal.css";
@import "./components/toggle.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	::-moz-selection {
		@apply bg-indigo-100;
	}
	::selection {
		@apply bg-indigo-100;
	}
	*:focus, button:focus {
		@apply outline-none ring-2 ring-indigo-300;
	}

	h1 {
		@apply text-2xl font-light;
	}
	h2 {
		@apply text-xl font-medium;
	}
	p {
		@apply leading-relaxed;
	}
}

@layer components {
	/*! purgecss start ignore */

	#board {
		touch-action: none;
	}
	.board-b72b1 {
		border: 0;
	}
	
	/* square colors */
	.white-1e1d7 {
		@apply bg-bluegray-300;
	}
	.black-3c85d {
		@apply bg-bluegray-600;
	}

	/*pieces*/
	.piece-417db {
/*		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 42px !important;
		height: 42px !important;*/
	}

	/*highlight color*/
	.highlight1-32417, .highlight2-9c5d2 {
		box-shadow: none;
		border: 2px solid #fff;
	}

	/*notation*/
	.white-1e1d7, .black-3c85d {
		font-weight: bold;
	}
	.white-1e1d7 {
		@apply text-bluegray-600;
	}
	.black-3c85d {
		@apply text-bluegray-300;
	}

	/*captured pieces*/
	#captured-pieces {
		@apply bg-bluegray-200;
	}
	.captured-piece {
		@apply w-4 my-1 inline;
	}

	/*! purgecss end ignore */

	/* inputs, buttons */
	input[type=text], textarea {
		@apply border-2 border-bluegray-300 p-2;
	}
	button {
		@apply bg-bluegray-200 hover:bg-bluegray-900 hover:text-white p-2 m-2 rounded;
	}
	button svg {
		display: inline;
	}
}

@media (min-width: 640px) { /* sm */
}

@media (min-width: 768px) { /* md */
}

@media (min-width: 1024px) { /* lg */
}

@media (min-width: 1280px) { /* xl */
}