@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	::-moz-selection {
		@apply bg-indigo-100;
	}
	::selection {
		@apply bg-indigo-100;
	}
	*:focus, button:focus {
		@apply outline-none ring-2 ring-indigo-300;
	}

	h1 {
		@apply text-2xl font-light;
	}
	h2 {
		@apply text-xl font-medium;
	}
	p {
		@apply leading-relaxed;
	}
}

@layer components {
	/*! purgecss start ignore */

	#board {
		touch-action: none;
	}
	.board-b72b1 {
		border: 0;
		box-shadow: 0.5rem 0.5rem 0px #18181B; /*gray 900*/
	}
	
	/* square colors */
	.white-1e1d7 {
		background-color:#CBD5E1; /*blue gray 300*/
	}
	.black-3c85d {
		background-color:#475569; /*blue gray 600*/
	}

	/*highlight color*/
	.highlight1-32417, .highlight2-9c5d2 {
		box-shadow: none;
		border: 2px solid #fff;
	}

	/*notation*/
	.white-1e1d7, .black-3c85d {
		font-weight: bold;
	}
	.white-1e1d7 {
		@apply text-gray-600;
	}
	.black-3c85d {
		@apply text-gray-300;
	}

	/*captured pieces*/
	.captured-piece {
		@apply w-8 -m-2 my-1 inline;
	}

	/*! purgecss end ignore */

	/* inputs, buttons */
	input[type=text], textarea {
		@apply border-2 border-gray-300 p-2;
	}
	button {
		@apply bg-gray-200 hover:bg-gray-300 p-2 m-2 rounded;
	}
	button svg {
		display: inline;
	}
}

@media (min-width: 640px) { /* sm */
}

@media (min-width: 768px) { /* md */
}

@media (min-width: 1024px) { /* lg */
}

@media (min-width: 1280px) { /* xl */
}